.intro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.pokemon {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.body {
  padding-top:100px;
}
.btn-primary {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:#C7E9F0;
    font-weight: 500;
    color: black;
    border: 2px solid #9A2323;
    font-variant: small-caps;
    list-style-type:none;
    width: 200px;
}
#modal-container {
    display: none;
  }

.list-group {
  flex-wrap: wrap;
  align-content:center;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }

  .modal-title {
    text-transform: capitalize;
  }
  